!!!
%html
  %head
    %title Game Map Render
    %meta{:charset => 'utf-8'}
    
    %link{:rel => 'stylesheet', :href => 'dist/css/ui.css'}

  %body
    .paper

    %script{:type => 'text/javascript', :src => 'lib/jquery-2.1.1.min.js'}
    
    %script{:type => 'text/javascript', :src => 'dist/js/map.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/curve-arrow.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/ui.js'}